<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.amsen.par.twootoot" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Twootoot.Base" >
        <activity
            android:name=".activity.twitter.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Twootoot.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.twitter.HomeActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>
